{% extends 'blog/base.html' %}

{% load bootstrap4 %}

{% block title %}Search{% endblock title %}

{% block content %}
  {% if query %}
    <h1>Posts containing "{{query}}"</h1>

    <h3>
      {% with results.count as total_results %}
        Found {{total_results}} result{{total_results|pluralize}}
      {% endwith %}
    </h3>

    {% for post in results %}
      <h4>
        <a href="{{post.get_absolute_url}}">
          {{post.title}}
        </a>
      </h4>

      {{post.body|truncatewords:5}}
    {% empty %}
      <p class="text-danger">
        <i class="fas fa-sad-tear"></i>
        There are no results for your query.
      </p>
    {% endfor %}

    <a 
      class="btn btn-primary" 
      role="button" href="{% url 'blog:post_search' %}"
    >
      <i class="fas fa-undo-alt"></i>
      Search again
    </a>

  {% else %}
    <h1 class="text-success">Search for posts</h1>

    <form action="" method="get">
      {% csrf_token %}
      
      {% bootstrap_form form %}
      <button class="btn btn-primary" type="submit">
        <i class="fas fa-search"></i>
        Search
      </button>
    </form>
  {% endif %}
{% endblock content %}